@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.presentation{
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.presentation img {
    width: 120px;
    border-radius: 50%;
}
p{
    font-size: 18px;
    padding-left: 80px;
    padding-right: 80px;
}

.sociallink{
    width: 35%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.sociallink i:hover{
    transition: 0.5s;
    color: gray;
}
.aboutme{
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #222831;
    color: white;
}

.lewagon{
    height: 80px;
}

.lewagon:hover{
    height: 90px;
    transition: 0.3s;
    margin: -5px;
}
.aboutme h2 {
    margin-top: 100px;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    align-items: center;
    font-size: 28px;
    justify-content: space-evenly;
    background-color: #222831;
    flex-direction: column;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.skills img{
    height: 80px;
    padding-top: 10px;
}

h2{
    text-align: center;
}

.logos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 20px;

}
.logos2{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;

}
.logos2 img{
    padding-right: 40px;
    padding-left: 40px ;
}
.project{
    display: flex;
    background-color: #222831;
    color: white;
    font-family: 'Varela Round', sans-serif;
}


.Dtrader{
    height: 120px;
    padding-left: 50px;
    margin-top: 15px;
}

.Dtrader:hover{
    height: 130px;
    margin-right: -12px;
    transition: 0.3s;
}