@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.presentation{
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.presentation img {
    width: 120px;
    border-radius: 50%;
}
p{
    font-size: 18px;
    padding-left: 80px;
    padding-right: 80px;
}
.aboutme{
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #222831;
    color: white;
}

.aboutme h2 {
    margin-top: 100px;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    align-items: center;
    font-size: 63px;
    justify-content: space-evenly;
    background-color: #222831;
    flex-direction: column;
}

.skills img{
    height: 55px;
    padding-top: 5px;
}

h2{
    text-align: center;
}

.logos{
    width: 100%;
    display: flex;
    justify-content: space-around;

}