@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.presentation{
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
    width: 120px;
    border-radius: 50%;
}

.aboutme{
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #222831;
}